<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="appModel.getData[0].usuarioConect[0].seccionActiva==0">
  <my-login></my-login>
</div>
<div class="alert alert-app-level alert-success"
     *ngIf="appModel.getData[0].usuarioConect[0].seccionActiva!=0 && appModel.getData[0].session=='On'">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Cerrando sesión... Good ByE...
      </div>
    </div>
  </div>
</div>
<div *ngIf="appModel.getData[0].usuarioConect[0].seccionActiva!=0">
  <clr-main-container>
    <clr-header class="header header-4">
      <h3 style="color: #fff; margin-top: 20px; margin-left: 9px">{{appModel.getData[0].usuarioConect[0].empresa}}</h3><br>
      <div class="header-actions">
        <!-- Combo aplicacion -->
        <clr-dropdown class="dropdown bottom-left">
          <button class="nav-text" clrDropdownTrigger>
            {{nomApp}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <div class="dropdown-menu">
            <a clrDropdownItem
               *ngFor="let item of appModel.getData[0].usuarioConect[0].modulos; let i = index"
               (click)="cambiaIndex(i,item)">{{item.nombre}}
            </a>
          </div>
        </clr-dropdown>
        <!-- combo userApp-edit -->
        <clr-dropdown class="dropdown bottom-right">
          <button class="nav-icon" clrDropdownToggle>
            <img class="avatarFoto" src="{{appModel.getData[0].usuarioConect[0].foto}}">
            <clr-icon shape="caret down" style="color: #fff"></clr-icon>
          </button>
          <div class="dropdown-menu">
            <a clrDropdownItem>Editar</a>
            <a clrDropdownItem (click)="basic = true">Cerrar Sesión</a>
          </div>
        </clr-dropdown>

      </div>
    </clr-header>
    <div class="content-container">
      <main class="content-area">
        <!-------------------->
        <!-- Route de la App-->
        <!-------------------->
        <router-outlet></router-outlet>
      </main>
      <!-- Opcion menu nivel 2 -->
      <nav class="sidenav" style="color: #000" [clr-nav-level]="2"
           *ngIf="appModel.getData[0].usuarioConect[0].panel">
        <clr-tree-node *ngFor="let item of menuNivel1">
          {{item.nombre}}
          <ng-template [(clrIfExpanded)]="item.expande">
            <clr-tree-node *ngFor="let item2 of item.menuHijo">
              <button
                (click)="callOpc(item2)"
                [class.active]="item2.active"
                class="clr-treenode-link">
                <clr-icon [attr.shape]="item2.icono"></clr-icon>
                {{item2.nombre}}
              </button>
            </clr-tree-node>
          </ng-template>
        </clr-tree-node>
      </nav>
    </div>
    <!------------------------------------------->
    <!-- Modal para confirmar si cierra sesion -->
    <!------------------------------------------->
    <clr-modal [(clrModalOpen)]="basic">
      <h3 class="modal-title">Mensaje</h3>
      <div class="modal-body">
        <p>Desea cerrar la sesión...?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">No</button>
        <button type="button" class="btn btn-primary" (click)="cerrarSesion()">Si</button>
      </div>
    </clr-modal>

    <!------------------------------------------->
    <!-- Modal para informar cierra sesion -->
    <!------------------------------------------->
    <clr-modal [(clrModalOpen)]="appModel.getData[0].msgExpire">
      <h3 class="modal-title">Mensaje</h3>
      <div class="modal-body">
        <p>Su Sesión fue cerrada por inactividad</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cerrarSesion()">Re-iniciar</button>
      </div>
    </clr-modal>

  </clr-main-container>
</div>
